/*body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

/*#quotes span:first-child {
  display: block;
  width: 100px;
  height: 100px;
  background-color: black;
}

#login-form {
  display: flex;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
/* 배경 그라데이션 적용 */

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 제목 스타일 적용 */
h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

/* 이름 입력 폼 스타일 적용 */
#name-input {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #ff6347;
  box-shadow: 2px 2px 4px #000;
}

/* 로그인 버튼 스타일 적용 */
#login-button {
  font-size: 24px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px #000;
  color: #ff6347;
  cursor: pointer;
}

#login-button:hover {
  background-color: #ff6347;
  color: #fff;
}

/* 시계 스타일 적용 */
#clock {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

/* TODO 입력 폼 스타일 적용 */
#todo-form {
  display: flex;
  justify-content: center;
}

#todo-form input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 66%;
}

/* 명언 스타일 적용 */
#quotes {
  font-size: 24px;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 10px;
}

#quotes div:last-child {
  font-size: 18px;
}

/* 날씨 스타일 적용 */
#weather {
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

/* TODO 리스트 스타일 적용 */
#todo-list {
  font-size: 20px;
  padding: 0;
  list-style: none;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #ff6347;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #000;
}

#todo-list li span {
  flex-grow: 1;
}

#todo-list li button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000;
  margin-left: 10px;
}

#todo-list li button:hover {
  background-color: #fff;
  color: #ff6347;
}
